
body{
  margin: 0;
}

a:hover{
  color:red;
}

.header{
  width:100%;
  height:180px;
  /*background-color: blue;*/
  margin: 0;
  position: relative;


}
.pd {
  font-size:0.9em;


}
.nav-customer{
  width:100%;
  height:40px;
  background-color: #F5F5F5;


}
.nav-container{
  width:1200px;
  height:40px;
  margin:0 auto;
  /*background-color:grey;*/

}
.welcome-l{
  float:left;
  width:600px;
  /*background-color: green;*/
  height:inherit;
}

.welcome-r{
  /*background-color: red;*/
  width:600px;
  height: inherit;
  float:right;
}
.welcome-r li{
 list-style: none;
 float:right;
 margin-left: 20px;

}

.nav-search{
  width:100%;
  height:100px;
  /*background-color:white;*/
  box-sizing: border-box;
  border-bottom:1px solid #F5F5F5;

}

.nav-search-container{
  height:100px;
  width:1200px;
  margin:0 auto;
  /*background-color:grey;*/

}

.logo{
  width:200px;
  height: inherit;
  background-color: yellow;
  float:left;
}
.search{
  width:800px;
  height:inherit;
  /*background-color: green;*/
  float:left;
}
.cart{
  width:200px;
  height: inherit;
  /*background-color: yellow;*/
  float:left;

}
#search-bar{
  font-size: 1.1em;
  width:350px;
  height:28px;
  margin-left: 200px;
  margin-top:35px;
  float:left;
  /*border-color:#EA4335;*/
}

#search-button{

  font-size: 1.2em;
  padding:6px 7px 5px 7px;
  margin-top:35px;

}
#cart-btn{
  font-size: 15px;
  width:auto;
  height:30px;
  margin:35px 0px 0px 25px;
}

.nav-category{
  width:100%;
  height: 40px;
  /*background-color: orange;*/
  box-shadow: 0px 2px 2px 1px rgba(0,0,0,.05);

}

.nav-category-container{
  width:1200px;
  height: inherit;
  /*background-color: grey;*/
  margin:0 auto;

  position: relative;
}
.quick-link{
  width:200px;
  height: inherit;
  background-color:#EA4335;
  float:left;
  text-align: center;
  box-sizing: border-box;
  padding-top:10px;
  color:white;
}
.links{
  width:200px;
  height: 450px;
  background-color: white;
  float:left;
  position:absolute;
  z-index:2;
  top:42px;
  display:none;

}
.link-list li{
  list-style: none;
  padding-bottom:20px;
}
.quick-link:hover + .links{
  display:block;
}
.links:hover{
  display: block;
}

.menu-div{
  width:160px;
  height: inherit;
  /*background-color:yellow;*/
  float:left;
  text-align: center;
  box-sizing: border-box;
  padding-top:10px;
}
.content-drop{
  position:absolute;
  top:40px;
  background-color: green;
  display:none;
  z-index: 7;
  width:800px;
  height: 450px;
  left:200px;
}

.menu-div:hover + .content-drop{
    display: block;
}

.content-drop:hover{
    display: block;
}

.content-drop-left{
  width:250px;
  height: inherit;
  background-color: pink;
  float:left;
}
.content-drop-left h4{
  padding-left:40px;
}
.content-drop-list{
  list-style: none;
}
.content-drop-list li{
  padding-bottom: 10px;
  font-size: 0.9em;
}
.content-drop-middle{
  width:250px;
  height: inherit;
  background-color: pink;
  float:left;
  margin-left:25px;
}
.content-drop-middle h4{
  padding-left:40px;
}

.content-drop-right{
  width:250px;
  height: inherit;
  background-color: pink;
  float:left;
  margin-left:25px;
}
.content-drop-right h4{
  padding-left:40px;
}
/*
.cat-details{
  width:800px;
  height: inherit;
  background-color: yellow;
  float:left;
}

.cats li{
  list-style: none;
  float:left;
  padding-right:30px;
}

*/
.slide{
  width:100%;
  height:450px;
  background-color: green;
  margin-top:2px;

}
.slide-container{
  width:1200px;
  height: inherit;
  margin:0 auto;
  background-color: blue;
}

.links-index{
  width:200px;
  height: 450px;
  background-color: white;
  float:left;


}

.slide-show{
  width:800px;
  height:inherit;
  background-color: gray;
  float:left;
  position: relative;

}
#slideshow{
  width:800px;
  height: 450px;
}




.hot-deal{
  width:200px;
  height: inherit;
  background: orange;
  float:left;


}
html a{
  text-decoration: none;
  color:black;
}


.promo-bar{
  width:100%;
  height:410px;
  background:yellow;
  margin-top:20px;
}

.promo-bar-container{
  width:1200px;
  height: inherit;
  background-color: grey;
  margin:0 auto;
}

html a{
  text-decoration:none;
}

.left-two{
  width:390px;
  height:inherit;
  background-color: green;
  float:left;
}

.middle-one{
  width:400px;
  height:inherit;
  background-color: yellow;
  float:left;
  margin-left: 10px;
}

.right-two{
  width:390px;
  height: inherit;
  background-color: red;
  float:left;
  margin-left: 10px;
}
#image1{
  width:390px;
  height: 200px;
  margin-bottom:6px;

}
#image2{
  width:390px;
  height: 200px;
}
#image3{
  width:400px;
  height: 410px;
}


/*********************CSS for cart.html********************/
.cart-page{
  width:100%;
  background-color: green;
  margin-top:2px;
  height:1000px;

}
.cart-container{
  width:1200px;
  height: inherit;
  margin:0 auto;
  background-color: blue;
}


.cart-content-l{
  width:850px;
  height:inherit;
  background-color: gray;
  float:left;
  position: relative;

}

.cart-content-l p{
  padding-top:30px;
  font-size: 22px;
}
.cart-content-l a{
  font-size:15px;
  padding-left:20px;
}

.cart-details{
  width:100%;
  height:800px;
  background-color: orange;
  float:left;
}
.cart-details-title{
  width:100%;
  height: 50px;
  background-color:#F5F5F5;
  box-sizing: border-box;
}

#title-cart{
  font-size:18px;
  display:block;
  margin-left:30px;

}


.item-cart-container{
  width:790px;
  height:500px;
  margin:30px;
  background-color: yellow;
}


.item-cart{
  width:100%;
  height:150px;
  margin:0 0 20px 0;
  background-color: red;
}
.item-cont-img{
  width:150px;
  height: inherit;
  background-color: white;
  float:left;
}
.item-cont-des{
  width:390px;
  height: inherit;
  background-color: white;
  margin-left: 10px;
  float:left;
}

.item-cont-des p{
  font-size:15px;
}

.item-cont-price{
  width:70px;
  height: inherit;
  background-color: white;
  margin-left: 10px;
  float:left;
}
.item-cont-price p{
  font-size:15px;
  padding-left:20px;
}
.item-cont-quantity{
  width:70px;
  height: inherit;
  background-color: white;
  margin-left: 10px;
  float:left;
  box-sizing: border-box;
}
.item-quan{
  margin:45px 0 0 15px;
}
.item-cont-totalpri{
  width:70px;
  height: inherit;
  background-color: white;
  margin-left: 10px;
  float:left;
}
.item-cont-totalpri p{
  font-size: 15px;
  padding-left:20px;
}


.cart-content-r{
  width:320px;
  height: inherit;
  background: orange;
  float:left;
  margin-left: 30px;
}
.cart-promo{
  width:100%;
  height: 100px;
  background-color: gray;
  margin-top:100px;
  border:1px solid #F5F5F5;
}
#promo-title{
  margin:30px 0 0 25px;
  font-size: 18px;
}
#promo-text{
  float:left;
  width:200px;
  height:30px;
  margin-left:25px;

}
.promo-btn{
  display:block;
  width:60px;
  height: 28px;
  background-color: #EA4335;
  float:left;
  text-align: center;
  padding-top:8px;

}

.cart-checkout{
  width:100%;
  height:200px;
  background-color: gray;
  margin-top:30px;
  border:1px solid #F5F5F5;
}


.cart-title-l{
  font-size: 18px;
  float:left;
}

.cart-title-r{
  font-size: 18px;
  float:right;


}
.cart-checkout-cont div{
  width:100%;
  height: 30px;

}


.cart-checkout-cont{
  width:270px;
  height:150px;
  background-color: yellow;
  margin:25px 25px 25px 25px;

}

.check-out-btn{
  display:block;
  width:270px;
  height: 38px;
  background-color: #EA4335;
  text-align: center;
  padding-top:12px;
  font-size: 20px;
}


/*********************CSS for login.html********************/

.login-page{
  width:100%;
  /*background-color: green;*/
  margin-top:2px;
  height:600px;
  color:#393939;

}
.login-container{
  width:1200px;
  height: inherit;
  margin:0 auto;
  background-color: blue;
  position:relative;
}
#login-title{
  font-size: 30px;
  display:block;
  padding-top:30px;

}
.login-content{
  width:100%;
  height:400px;
  background-color: gray;
  box-sizing: border-box;
  border:1px solid #F5F5F5;
  margin-top:30px;

}

.login-content-l{
  width:570px;
  height:340px;
  float:left;
  margin:30px 0 30px 30px;
  background-color: yellow;
  border-right:1px solid #F5F5F5;
}

.login-content-r{
  width:570px;
  height:340px;
  float:left;
  margin-top:30px;
  background-color: yellow;
}
/*
.login-content-sub{
  width:510px;
  height:280px;
  background-color: white;
  margin:30px 30px 30px 30px;
}
*/
#register-now-btn{
  display:block;
  background-color:#EA4335;
  width:100px;
  height: 35px;
  text-align: center;
  padding-top:15px;
}

.login-sub-title{
  font-size: 25px;
  display:block;
}
.login-input-label{
  width:100px;
  height: 30px;
  background-color: red;
  float:left;
}

/****************************css for registration page****************************/

.regis-page{
  width:100%;
  /*background-color: green;*/
  margin-top:2px;
  height:600px;
  color:#393939;

}
.regis-container{
  width:1200px;
  height: inherit;
  margin:0 auto;
  background-color: blue;
  position:relative;
}
#regis-title{
  font-size: 30px;
  display:block;
  padding-top:30px;

}
.regis-content{
  width:100%;
  height:400px;
  background-color: gray;
  box-sizing: border-box;
  border:1px solid #F5F5F5;
  margin-top:30px;

}

.regis-content-m{
  width:1138px;
  height:340px;
  float:left;
  margin:30px 0 30px 30px;
  background-color: yellow;
  border-right:1px solid #F5F5F5;
}


.regis-sub-title{
  font-size: 25px;
  display:block;
}
.error-message{
  color:red;
}

/************************CSS for item.html***********************************/
.item-page{
  width:100%;
  background-color: green;
  margin-top:2px;
  height:1000px;
  color:#393939;

}
.item-container{
  width:1200px;
  height: inherit;
  margin:0 auto;
  background-color: blue;
  position:relative;
}
.item-nav{
  width:100%;
  height:30px;
  background-color: gray;
  position:relative;
}

.item-nav ul{
  list-style: none;
}

.item-nav ul li{
  float:left;
  margin:0;
  padding-top:10;
}

.item-image{
  width:450px;
  height:700px;
  float:left;
  background-color: red;

}
.item-detail{
  width:750px;
  height:900px;
  float:left;
  background-color: yellow;

}
.item-image-container{
  width:450px;
  height:450px;
}
.item-image-container img{
  width:450px;
  height: 450px;
}

.item-info-container{
  width:inherit;
  height: 200px;
  background-color: orange;
}

.item-info-primary{
  width:350px;
  height: inherit;
  float:left;
  background-color: red;
}
.item-prd-title{
  font-size: 20px;
}
.item-info-primary span{
  display:block;
}
.item-info-price{
  width:100px;
  height: inherit;
  float:left;
  margin-left: 10px;
  background-color: red;
}

.item-info-quantity{
  width:100px;
  height: inherit;
  float:left;
  margin-left: 10px;
  background-color: red;
}
.item-info-quan{
  width:50px;
}
.item-info-action{
  width:170px;
  height: inherit;
  float:left;
  margin-left: 10px;
  background-color: red;
}
.item-info-btn{
  width:100%;
  height: 40px;
  display:block;
  background-color:#EA4335;
  border:none;
  color:white;
  font-size: 1.2em;
}
.item-info-btn:hover{
  background-color: white;
  color:#4285F4;
}
